@import "tailwindcss";
@import "../node_modules/lunchbox-css/index.css";
@import "../node_modules/lunchbox-css/styles/noise.css";
/* @import "../node_modules/lunchbox-css/styles/keynav.css"; */

[tabindex="0"]:focus {
  background: var(--gradient-dotted);
  animation: flicker 50ms 2;
  filter: invert();
  outline: 0;
  color: var(--color-neutral);
  border-color: var(--color-base-300);
}

:focus-visible {
  outline: 0;
}

@keyframes flicker {
  0%,
  49% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

.dark\:invert:focus,
.invert:focus {
  filter: invert(0);
}

.shake:focus {
  animation: 200ms steps(1, jump-start) shake;
}
.shake_left:focus {
  animation: 125ms steps(1, jump-start) shake_left;
}
.shake_right:focus {
  animation: 125ms steps(1, jump-start) shake_right;
}
.shake_up:focus {
  animation: 125ms steps(1, jump-start) shake_up;
}
.shake_down:focus {
  animation: 125ms steps(1, jump-start) shake_down;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  33% {
    transform: translate(0.125rem, 0.125rem);
  }
  67% {
    transform: translate(-0.125rem, -0.125rem);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes shake_left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-0.25rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shake_right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.25rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shake_up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake_down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: false;
}

.vignette {
  mix-blend-mode: multiply;
}

@media (prefers-color-scheme: dark) {
  .vignette {
    mix-blend-mode: exclusion;
  }
}
